__pycache__/
*.py[cod]
*$py.class

.env/
venv/
.venv/

alembic/versions/*.pyc

.env
.env.*
!.env.example

logs/
*.log

.idea/
.vscode/

.DS_Store
Thumbs.db

.default.profraw
*.cur_input

tmp/
temp/
*.tmp

.ruff_cache/
